<section id='home'>
  <h1>Friend's of Box Hill</h1>
  <%= image_tag("Grey_Heron.jpg", :id => "gallery") %>
</section>

<section class="sidebar" id="left">
  <h1>About Us</h1>
  <p>
    <strong>Box Hill</strong> is one of the best known features in the North Downs.
    Only 20 miles from the centre of London,
    it is a haven of natural beauty with more than a million visitors every year. Those numbers mean that
    special care is necessary to protect its many rare species of flora and fauna.
    The Friends of Box Hill is an independent association, affiliated to the Campaign to Protect Rural England.
    It is made up of people who love the Hill, and keep a close watch on everything that affects it.
   </p>
</section>

<section class="sidebar" id="right">
  <h1>Find out more!</h1>
  <p>
    You can join us using this application form. To find out more (including about forthcoming events and
    news from the Hill) have a look at the blog or please ring 01306 885502, or email, or write to: <br><br>
      The Friends of Box Hill,  <br>
      c/o the National Trust, <br>
      Warren Farm Barn, <br>
      Headley Lane, Mickleham, Dorking, RH5 6DG.  <br>
   </p>
</section>
