// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
    // background-color: #2B8E00;
    background-image: -webkit-gradient(
      linear, left top, left bottom,
      color-stop(0, #2B8E00),
      color-stop(1, #FFF)
    );
    background-image: linear-gradient(
      top, #2B8E00, #FFF
    );
}

article {
    display: block;
    height: 1000px;
    width: 900px;
    margin: 0px auto;
    padding: 0px;
    border-style: ridge;
    border-width: 10px;
    border-color: #FFB400;
    // padding-top: 10px;
    // padding-left: 20px;
    // padding-right: 20px;
    background-color: #FFFFFF;
    -moz-box-shadow: 10px 10px 10px #333;
    -webkit-box-shadow: 10px 10px 10px #333;
    -o-box-shadow: 10px 10px 10px #333;
    box-shadow: 10px 10px 10px #333;
}

header {
    height: 220px;
    width: 900px;
    margin: 0px;
    padding-top: 25px;
    text-align: right;
    color: #0044FF;
    background-image: url(Grey_Heron.jpg);
    background-repeat: repeat;
    background-position: center;
    background-color: #9FF;

}

header h1 {
    width: 151px;
    height: 211px;
    // margin-left: 700px;
    padding: 0px;
    margin: 0px 0px 0px 700px;
    font-size: 60px;
    font-family: sans-serif;
    text-align: right;
    background-image: url(FOBH_logo.png);
    background-repeat: none;
    background-position: right;
}

nav {
    height: 40px;
    width: 900px;
    margin: 10px 0px 0px 0px;
    padding: 0px;
    // margin-left: 50px;
    text-align: center;
    background-color: #39E639;
}

nav ul {
    margin: 0px auto;
    margin-left: 14px;
    padding: 0px;
    text-align: center;
}
nav li {
     text-decoration: none;
     display: inline;
     // border-left: 1px solid #FFF;
     border-right: 2px solid #FFF;
     padding: 10px 7px 30px 5px;
     margin: 0px;
     float: left;
     width: 110px;
     // padding-left: 5px;
     // padding-right: 5px;
     font-size: 12pt;
     font-family: sans-serif;
}

nav li:last-child {
     border-right: none;
}

nav li:hover {
     background-color: #2B8E00;
     height: 0px;
}

img#text_decoration {
     float: left;
     margin-right: 15px;
}
section#home {
     width: 520px;
     margin-top: 30px;
     margin-left: 70px;
     float: left;
}
section#home h1 {
    color: #0044FF;
    font-size: 30px;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    text-align: center;

}

section#sidebar {
    margin-left: 620px;
    margin-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    width: 200px;
    font-size: 10pt;
    text-align: left;
    -moz-box-shadow: 5px 5px 5px #2B8E00;
    -webkit-box-shadow: 5px 5px 5px #2B8E00;
    -o-box-shadow: 5px 5px 5px #2B8E00;
    box-shadow: 5px 5px 5px #2B8E00;
    border-style: ridge;
    border-width: 5px;
}

section#sidebar h1 {
    margin-left: -30px;
    text-align: center;
}